body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u601 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u602 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u603 {
  position:absolute;
  left:229px;
  top:411px;
  width:614px;
  height:1205px;
}
#u604 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u605 {
  position:absolute;
  left:289px;
  top:343px;
  width:353px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u606 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
#u607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u607 {
  position:absolute;
  left:259px;
  top:507px;
  width:546px;
  height:970px;
}
#u608 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u609_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:64px;
  height:82px;
}
#u609 {
  position:absolute;
  left:225px;
  top:326px;
  width:54px;
  height:72px;
  font-size:28px;
}
#u610 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  word-wrap:break-word;
}
#u611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u611 {
  position:absolute;
  left:259px;
  top:507px;
  width:546px;
  height:970px;
}
#u612 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:36px;
}
#u613 {
  position:absolute;
  left:259px;
  top:507px;
  width:546px;
  height:36px;
}
#u614 {
  position:absolute;
  left:2px;
  top:10px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u615 {
  position:absolute;
  left:259px;
  top:543px;
  width:546px;
  height:57px;
  font-size:20px;
}
#u616 {
  position:absolute;
  left:2px;
  top:20px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:182px;
}
#u617 {
  position:absolute;
  left:259px;
  top:600px;
  width:546px;
  height:181px;
  font-size:20px;
}
#u618 {
  position:absolute;
  left:2px;
  top:78px;
  width:542px;
  word-wrap:break-word;
}
#u619_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u619 {
  position:absolute;
  left:477px;
  top:559px;
  width:104px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u620 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u621 {
  position:absolute;
  left:259px;
  top:781px;
  width:546px;
  height:49px;
}
#u622 {
  position:absolute;
  left:2px;
  top:16px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:30px;
}
#u623 {
  position:absolute;
  left:308px;
  top:791px;
  width:272px;
  height:30px;
}
#u624 {
  position:absolute;
  left:2px;
  top:7px;
  width:268px;
  visibility:hidden;
  word-wrap:break-word;
}
#u625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u625 {
  position:absolute;
  left:270px;
  top:791px;
  width:28px;
  height:32px;
}
#u626 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:26px;
}
#u627 {
  position:absolute;
  left:594px;
  top:792px;
  width:197px;
  height:26px;
}
#u628 {
  position:absolute;
  left:2px;
  top:5px;
  width:193px;
  visibility:hidden;
  word-wrap:break-word;
}
#u629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:577px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u629 {
  position:absolute;
  left:259px;
  top:830px;
  width:546px;
  height:577px;
}
#u630 {
  position:absolute;
  left:2px;
  top:280px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u631 {
  position:absolute;
  left:259px;
  top:1407px;
  width:546px;
  height:70px;
}
#u632 {
  position:absolute;
  left:2px;
  top:27px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u633_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:70px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.329411764705882);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#1E1E1E;
}
#u633 {
  position:absolute;
  left:259px;
  top:1407px;
  width:182px;
  height:70px;
  font-size:28px;
  color:#1E1E1E;
}
#u634 {
  position:absolute;
  left:2px;
  top:18px;
  width:178px;
  word-wrap:break-word;
}
#u635_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#1E1E1E;
}
#u635 {
  position:absolute;
  left:441px;
  top:1407px;
  width:182px;
  height:70px;
  font-size:28px;
  color:#1E1E1E;
}
#u636 {
  position:absolute;
  left:2px;
  top:18px;
  width:178px;
  word-wrap:break-word;
}
#u637_div {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#1E1E1E;
}
#u637 {
  position:absolute;
  left:623px;
  top:1407px;
  width:182px;
  height:70px;
  font-size:28px;
  color:#1E1E1E;
}
#u638 {
  position:absolute;
  left:2px;
  top:18px;
  width:178px;
  word-wrap:break-word;
}
#u639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u639 {
  position:absolute;
  left:397px;
  top:883px;
  width:272px;
  height:90px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u640 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  word-wrap:break-word;
}
#u641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u641 {
  position:absolute;
  left:408px;
  top:1002px;
  width:227px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u642 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u643 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  position:absolute;
  left:474px;
  top:1117px;
  width:108px;
  height:37px;
}
#u645 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u647 {
  position:absolute;
  left:474px;
  top:1117px;
  width:37px;
  height:37px;
}
#u648 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u649 {
  position:absolute;
  left:517px;
  top:1128px;
  width:43px;
  height:16px;
}
#u650 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u651 {
  position:absolute;
  left:295px;
  top:1117px;
  width:108px;
  height:37px;
}
#u652 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u653 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u654 {
  position:absolute;
  left:295px;
  top:1117px;
  width:37px;
  height:37px;
}
#u655 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u656 {
  position:absolute;
  left:338px;
  top:1128px;
  width:43px;
  height:16px;
}
#u657 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:37px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u658 {
  position:absolute;
  left:659px;
  top:1117px;
  width:108px;
  height:37px;
}
#u659 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u661 {
  position:absolute;
  left:659px;
  top:1117px;
  width:37px;
  height:37px;
}
#u662 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u663 {
  position:absolute;
  left:702px;
  top:1128px;
  width:43px;
  height:16px;
}
#u664 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u665 {
  position:absolute;
  left:293px;
  top:1117px;
  width:37px;
  height:37px;
}
#u666 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u667 {
  position:absolute;
  left:474px;
  top:1117px;
  width:37px;
  height:37px;
}
#u668 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
}
#u669 {
  position:absolute;
  left:659px;
  top:1117px;
  width:37px;
  height:37px;
}
#u670 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u671 {
  position:absolute;
  left:306px;
  top:1083px;
  width:69px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u672 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u673 {
  position:absolute;
  left:475px;
  top:1083px;
  width:107px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u674 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u675 {
  position:absolute;
  left:669px;
  top:1083px;
  width:83px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u676 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u677 {
  position:absolute;
  left:406px;
  top:1240px;
  width:227px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u678 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u679 {
  position:absolute;
  left:259px;
  top:1058px;
  width:546px;
  height:1px;
}
#u680 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:547px;
  height:2px;
}
#u681 {
  position:absolute;
  left:259px;
  top:1184px;
  width:546px;
  height:1px;
}
#u682 {
  position:absolute;
  left:2px;
  top:-8px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:71px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u683 {
  position:absolute;
  left:302px;
  top:1284px;
  width:460px;
  height:71px;
  font-size:36px;
}
#u684 {
  position:absolute;
  left:2px;
  top:14px;
  width:456px;
  word-wrap:break-word;
}
#u685 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u686 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u687 {
  position:absolute;
  left:1186px;
  top:424px;
  width:614px;
  height:1205px;
}
#u688 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#1E1E1E;
}
#u689 {
  position:absolute;
  left:1246px;
  top:356px;
  width:161px;
  height:37px;
  font-size:32px;
  color:#1E1E1E;
}
#u690 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u691_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u691 {
  position:absolute;
  left:1216px;
  top:520px;
  width:546px;
  height:970px;
}
#u692 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:64px;
  height:82px;
}
#u693 {
  position:absolute;
  left:1182px;
  top:339px;
  width:54px;
  height:72px;
  font-size:28px;
}
#u694 {
  position:absolute;
  left:2px;
  top:9px;
  width:50px;
  word-wrap:break-word;
}
#u695_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:850px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u695 {
  position:absolute;
  left:1216px;
  top:640px;
  width:544px;
  height:850px;
}
#u696 {
  position:absolute;
  left:2px;
  top:417px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:36px;
}
#u697 {
  position:absolute;
  left:1216px;
  top:520px;
  width:546px;
  height:36px;
}
#u698 {
  position:absolute;
  left:2px;
  top:10px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u700 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u701 {
  position:absolute;
  left:1216px;
  top:556px;
  width:546px;
  height:84px;
}
#u702 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u703 {
  position:absolute;
  left:1418px;
  top:596px;
  width:142px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u704 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u705 {
  position:absolute;
  left:1228px;
  top:594px;
  width:32px;
  height:32px;
}
#u706 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  position:absolute;
  left:1216px;
  top:698px;
  width:544px;
  height:97px;
}
#u709 {
  position:absolute;
  left:2px;
  top:40px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u710 {
  position:absolute;
  left:1313px;
  top:723px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u711 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u712 {
  position:absolute;
  left:1700px;
  top:733px;
  width:35px;
  height:32px;
}
#u713 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u714 {
  position:absolute;
  left:1313px;
  top:756px;
  width:118px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u715 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u716 {
  position:absolute;
  left:1634px;
  top:734px;
  width:73px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u717 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:51px;
}
#u718 {
  position:absolute;
  left:1231px;
  top:722px;
  width:72px;
  height:50px;
  font-size:36px;
}
#u719 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  position:absolute;
  left:1216px;
  top:795px;
  width:544px;
  height:97px;
}
#u722 {
  position:absolute;
  left:2px;
  top:40px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u723 {
  position:absolute;
  left:1313px;
  top:820px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u725_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u725 {
  position:absolute;
  left:1700px;
  top:830px;
  width:35px;
  height:32px;
}
#u726 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u727 {
  position:absolute;
  left:1313px;
  top:853px;
  width:118px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u728 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u729 {
  position:absolute;
  left:1634px;
  top:831px;
  width:73px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:51px;
}
#u731 {
  position:absolute;
  left:1231px;
  top:819px;
  width:72px;
  height:50px;
  font-size:36px;
}
#u732 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u734 {
  position:absolute;
  left:1216px;
  top:892px;
  width:544px;
  height:97px;
}
#u735 {
  position:absolute;
  left:2px;
  top:40px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u736 {
  position:absolute;
  left:1313px;
  top:917px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u737 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u738 {
  position:absolute;
  left:1700px;
  top:927px;
  width:35px;
  height:32px;
}
#u739 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u740 {
  position:absolute;
  left:1313px;
  top:950px;
  width:118px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u742 {
  position:absolute;
  left:1634px;
  top:928px;
  width:73px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:51px;
}
#u744 {
  position:absolute;
  left:1231px;
  top:916px;
  width:72px;
  height:50px;
  font-size:36px;
}
#u745 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u747 {
  position:absolute;
  left:1216px;
  top:989px;
  width:544px;
  height:97px;
}
#u748 {
  position:absolute;
  left:2px;
  top:40px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u749 {
  position:absolute;
  left:1313px;
  top:1014px;
  width:121px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u750 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u751_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u751 {
  position:absolute;
  left:1700px;
  top:1024px;
  width:35px;
  height:32px;
}
#u752 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u753 {
  position:absolute;
  left:1313px;
  top:1047px;
  width:109px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u754 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u755 {
  position:absolute;
  left:1634px;
  top:1025px;
  width:73px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u756 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:51px;
}
#u757 {
  position:absolute;
  left:1231px;
  top:1013px;
  width:72px;
  height:50px;
  font-size:36px;
}
#u758 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:544px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(164, 179, 193, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u760 {
  position:absolute;
  left:1216px;
  top:1086px;
  width:544px;
  height:97px;
}
#u761 {
  position:absolute;
  left:2px;
  top:40px;
  width:540px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u762 {
  position:absolute;
  left:1313px;
  top:1111px;
  width:97px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u763 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:32px;
}
#u764 {
  position:absolute;
  left:1700px;
  top:1121px;
  width:35px;
  height:32px;
}
#u765 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u766 {
  position:absolute;
  left:1313px;
  top:1144px;
  width:118px;
  height:22px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u767 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u768 {
  position:absolute;
  left:1634px;
  top:1122px;
  width:73px;
  height:29px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:24px;
}
#u769 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:51px;
}
#u770 {
  position:absolute;
  left:1231px;
  top:1110px;
  width:72px;
  height:50px;
  font-size:36px;
}
#u771 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:436px;
  height:59px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u772 {
  position:absolute;
  left:1271px;
  top:1254px;
  width:436px;
  height:59px;
  font-size:28px;
  color:#FFFFFF;
}
#u773 {
  position:absolute;
  left:2px;
  top:13px;
  width:432px;
  word-wrap:break-word;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u774 {
  position:absolute;
  left:1271px;
  top:1202px;
  width:271px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u775 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:58px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u776 {
  position:absolute;
  left:1216px;
  top:640px;
  width:546px;
  height:58px;
  font-size:20px;
}
#u777 {
  position:absolute;
  left:2px;
  top:17px;
  width:542px;
  word-wrap:break-word;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:99px;
}
#u778 {
  position:absolute;
  left:853px;
  top:1256px;
  width:300px;
  height:99px;
  font-size:28px;
  color:#FF0000;
}
#u779 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u780 {
  position:absolute;
  left:762px;
  top:1320px;
  width:0px;
  height:0px;
}
#u780_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u780_seg1 {
  position:absolute;
  left:74px;
  top:-18px;
  width:8px;
  height:22px;
}
#u780_seg2 {
  position:absolute;
  left:74px;
  top:-18px;
  width:17px;
  height:8px;
}
#u780_seg3 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u780_seg4 {
  position:absolute;
  left:78px;
  top:-24px;
  width:20px;
  height:20px;
}
#u781 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u782 {
  position:absolute;
  left:762px;
  top:1320px;
  width:0px;
  height:0px;
}
#u782_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u782_seg1 {
  position:absolute;
  left:62px;
  top:-141px;
  width:8px;
  height:145px;
}
#u782_seg2 {
  position:absolute;
  left:62px;
  top:-141px;
  width:340px;
  height:8px;
}
#u782_seg3 {
  position:absolute;
  left:394px;
  top:-949px;
  width:8px;
  height:816px;
}
#u782_seg4 {
  position:absolute;
  left:394px;
  top:-949px;
  width:26px;
  height:8px;
}
#u782_seg5 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u782_seg6 {
  position:absolute;
  left:407px;
  top:-955px;
  width:20px;
  height:20px;
}
#u783 {
  position:absolute;
  left:348px;
  top:-292px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
}
#u784 {
  position:absolute;
  left:843px;
  top:1103px;
  width:300px;
  height:66px;
  font-size:28px;
  color:#FF0000;
}
#u785 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u786 {
  position:absolute;
  left:1231px;
  top:1199px;
  width:30px;
  height:30px;
}
#u787 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u788 {
  position:absolute;
  left:761px;
  top:553px;
  width:30px;
  height:30px;
}
#u789 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
